html {
    scroll-behavior: smooth;
}

html::webkit-scrollbar {
    display: none;
}

#main-nav {
    background-color: azure;
}

section {
    height: 100vh;
    display: block;
}

#home {
    /* background-image: url('../images/work-hard.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: azure;
    background-position: right;
    background-position-y: middle;

}

.custom-col {
    margin-top: 15%;
}

.custom-col-1 {
    margin-top: 15%;
}

.custom-col-2 {
    margin-top: 10%;
}

.custom-col-3 {
    margin-top: 20%;
}

.custom-col-2 .progress{
    margin-top: 20px;
    height: 4rem;
    font-size: 16px;
    color: #000;
}
.mob-col-1{
    margin-top: 15%;
}

i {
    color: black;
}

img {
    filter: drop-shadow(8px 8px 10px black);   
}

.img-hero {
    height: auto;
}

.spacing {
    margin-top: 20%;
}

.myscroll {
    position: relative;
}

.timeline {
    border-left: 1px dashed hsl(193deg, 84%, 52%);
    margin-left: 20px;
    margin-bottom: 30px;
}

.timeline .timeline-box {
    padding-left: 40px;
    margin-bottom: 30px;
    position: relative;
}

.timeline-icon {
    left: -18px;
    top: 0;
    background-color: #20bfeb;
    position: absolute;
    width: 35px;
    z-index: 1;
    text-align: center;
    line-height: 35px;
}

timeline-icon i{
    color: #000;
}

.timeline .timeline-icon:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #16e7dd;
    opacity: 0.5;
    z-index: -1;
    right: 0;
    bottom: 0;
    margin: -4px;
}

.centered{
    text-align: center;
    margin-bottom: 20px;
}

@media only screen and (max-width: 420px) {
    .my-4 {
        margin-top: 40.5rem!important;
    }
    .mob-col-1 {
        margin-top: 55%!important;
    }
    .mob-col-2 {
        margin-top: 155%!important;
    }
    .custom-col-3 {
        margin-top: 470%;
    }
  }